$mainclr: #0f6349;
$mainclr2: #e7efed;
$mainclr3: #f3f8f7;
$bkclr: #f4f5f9;
$topheight:80px;
$inputbrnbk:#f7fbfa;
$spanclr:#606266;
$header-span:#303133;
$line:#DCDFE6;
$user-value:#878f8c;
$clr-danger:#F56C6C;
$clr-warning:#E6A23C;
$clr-info:#909399;

$form-icon:#99a9bf;

$lightGray: #f0f2f5;
$pureWhite: #ffffff;
$themeTitle: #08263a;

$table-header-bk:#0070c0;
$table-header-clr:#ffffff;